<configuration>
    <packageSources>
        <add key="ywtestframework" value="https://ywdevelopers.pkgs.visualstudio.com/_packaging/ywtestframework/nuget/v3/index.json" />
	</packageSources>

    <activePackageSource>
        <add key="All" value="(Aggregate source)"/>
    </activePackageSource>
</configuration>